.navbar {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 42px;
    font-weight: bolder;
    padding: 30px;
    background-color: #263238;
    color: white;
}

.logout{
    position: absolute;
    height: 40px;
    width: 40px;
    right: 100px;
}

.logout:hover {
    cursor: pointer;
}