.reminders{
    width: 800px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
    height: 500px;
    margin-top: 50px;
    margin-left: 100px;
}

.reminders-header{
    background-color: #263238;
    color: white;
    font-weight: bolder;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}